<!DOCTYPE html>
<html class="wf-proximanova-n4-active wf-brandongrotesque-n9-active wf-active" lang="en">
  <head>
    <title>Wedding</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
